<form class="newentry" action="/applyingdeals/<%=@applyingdeal.id%>" method="post">

  <!-- this isn't being used - the application of a deal can be created or destroyed! -->

  <input class="btn--submit" type='submit' value="Apply Deal!">
</fieldset>
</form>
