<h1>Add burgers to a deal: Step one</h1>

<form class="newentry" action="/applyingdeals/new_burger" method="get">
  <label>
  Which deal do you want to add a burger to?
    <select name="deal_id">
      <% for deal in @deals %>
      <option value="<%= deal.id %>"><%= deal.name %> at <%= deal.restaurant.name %></option>
      <% end %>
    </select>
  </label>

  <input class="btn" type='submit' value="Choose deal">
</form>
