<style>
footer {
  position: fixed;
  bottom: 0;
  left: 0;
}
</style>

<div class="container">
    <div class="box"><h1> Feeling Hungry? </h1></div>
    <div class="box"><<a href= "/restaurants"><img src="/images/burgerlogo.png" alt="burgerlogo" id="logo"></a></div>
    <br>
    <br>
</div>
