<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BurgerTracker</title>
</head>
  <body>

    <a href="/">Home</a>
  <div>
    <a href= "/restaurants">Restaurants</a>
    <a href= "/deals">Deals</a>
    <a href="/burgers">Burgers</a>
    <a href="/applyingdeals">See discounts</a>
  </div>

  <div>
    <a href="/restaurants/new">New Restaurant</a>
    <a href="/burgers/new">New Burger</a>
    <a href="/deals/new">New Deal</a>
    <a href="/applyingdeals/new">Add burgers to a deal</a>
  </div>

      <section>
        <%= yield %>
      </section>

  </body>

</html>
