<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BurgerTracker</title>


  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <link rel="stylesheet" tyoe="text/css" href="/styles/nav.css">
  <link rel="stylesheet" tyoe="text/css" href="/styles/images.css">
  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link href="https://fonts.googleapis.com/css?family=Bevan|Open+Sans" rel="stylesheet">
  <link rel="icon" href="/images/burgerlogo.png" />
</head>

  <body>
      <div class="content">
    <header id="title">
      <img id="burgerbar" src="/images/title2.jpg">
    </header>
  <nav class="navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href= "/restaurants">Restaurants</a></li>
    <li><a href= "/deals">Deals</a></li>
    <li><a href="/burgers">Burgers</a></li>
    <li><a href="/restaurants/new">New Restaurant</a></li>
    <li><a href="/burgers/new">New Burger</a></li>
    <li><a href="/deals/new">New Deal</a></li>
    <li><a href="/applyingdeals/new">Add Burgers to a Deal</a></li>
</ul>
</nav>
<!-- <header id="title">
  <img src="/images/title.jpg">
</header> -->
      <section>
        <%= yield %>
      </section>



</div>
  <footer class="copyright">
        2017 &copy; BurgerTracker
  </footer>
  </body>
</html>
