<div id="newdeal">
<h1>New Deal</h1>
<form class="newentry" action="/deals" method="POST">
<fieldset>

  <select name="restaurant_id" id="rest>">
  <% @restaurants.each do |restaurant|%>
    <option id ="restaurants" value="<%= restaurant.id %>"><%= restaurant.name %></option>
    <% end %>
  </select>

  <label for="name">Name:</label>
  <input type="text" name="name" id="name" required>
  <label for="discount">Discount:</label>
  <input type="number" min="0" max="1" step=".01" placeholder="Enter as a decimal" name="discount" id="discount" required>
  <label for="day">Day</label>
  <select name="day" id="weekdays">
    <option class ="week" value="Monday">Monday</option>
    <option class ="week" value="Tuesday">Tuesday</option>
    <option class ="week" value="Wednesday">Wednesday</option>
    <option class ="week" value="Thursday">Thursday</option>
    <option class ="week" value="Friday">Friday</option>
    <option class ="week" value="Saturday">Saturday</option>
    <option class ="week" value="Sunday">Sunday</option>
  </select>
  <input class="btn--submit" type="submit" value="Add!">

</fieldset>
</form>
</div>
