<div id="newdeal">

  <h1>Spotted a new deal?</h1>

  <div class="flex">
  <form class="newentry" action="/deals" method="POST">
    <fieldset>
      <img id="deallogo" src="/images/moneybag.png" alt="moneybag">

      <select name="restaurant_id" id="newdealindex">
        <% @restaurants.each do |restaurant|%>
        <option id ="restaurants" value="<%= restaurant.id %>"><%= restaurant.name %></option>
        <% end %>
      </select>

      <br>
      <label for="name">Deal Name:</label>
      <br>
      <input type="text" name="name" id="name" required>
      <br>
      <label for="discount">Discount:</label>
      <br>
      <input type="number" min="0" max="100" name="discount" id="discount" required placeholder="%">
      <br>
      <label for="day">Day</label>
      <br>
      <select name="day" id="weekdays">
        <option class ="week" value="Monday">Monday</option>
        <option class ="week" value="Tuesday">Tuesday</option>
        <option class ="week" value="Wednesday">Wednesday</option>
        <option class ="week" value="Thursday">Thursday</option>
        <option class ="week" value="Friday">Friday</option>
        <option class ="week" value="Saturday">Saturday</option>
        <option class ="week" value="Sunday">Sunday</option>
      </select>
      <br>
      <p></p>
      <input class="btn--submit" type="submit" value="Add!">

    </fieldset>
  </form>
</div>
</div>
