a {
  text-decoration: none;
  color: rgb(85, 26, 139);
}

a:hover {
  /*color: #FFCF4D;*/
  color: #F21B3F;
}

a#editlink {
  font-size: 25px;
  text-decoration: none;
  color: #221E22;
}
a#editlink:hover {
  cursor: pointer;
  color: #F21B3F;
}

input.btn--delete {
  font-family: 'Bevan', cursive;
  font-size: 25px;
  background-color: #F21B3F;
  border-radius: 10px;
  padding: 6px;
  margin: 0px 10px 0px 10px;

}
input.btn--delete:hover {
  cursor: pointer;
  background-color: #F78296;
}

input.btn--submit {
  font-family: 'Bevan', cursive;
  font-size: 25px;
  background-color: rgb(85, 26, 139);
  color: #FBFBFD;
  text-shadow: 0px 2px 0px #221E22;
  border-radius: 10px;
  padding: 6px;
  margin: 10px 10px;

}

input.btn--submit:hover {
  cursor: pointer;
  background-color: #221E22;

}
