form.newentry {
  background-color: #FFCF4D;
  border-radius: 15px;
  border: 6px solid #D0CDD7;
  padding: 15px;
  width: 75%;
}

#rest {
  font-family: 'Bevan', cursive;
  font-size: 25px;
}

fieldset {
  border-radius: 15px;
  border: none;
}

label {
  font-size: 25px;
  line-height: 3em;
}

input {
  font-size: 25px;
  line-height: 2.5em;
  border-radius: 10px;

}
