img#burgerbar {
  border-bottom: 10px solid #FFCF4D;
}

img#logo {
  background-color: #FFCF4D;
  border-radius: 10px;
}

img#newburgerlogo {
  width: 10%;
  float: left;
  margin: 10px 50px 25px 25px;
  background-color: #F21B3F;
  border-radius: 10px;
}

img#bwburger {
  width: 400px;
  float: right;

  border-radius: 10px;
  padding: 5px;
  margin: 15px;
}
