<br>
<br>
<div id="confirm">
<h2><%= @burger.name %> has successfully been added
</div>
<form class="" action="/burgers/<%= @burger.id %>/delete" method="post">
<input type="submit" name="delete" value="Delete" id="delete">
</form>
